<html>
  <head>
    <meta charset="utf-8" />
    <title>vista</title>
    <link rel="stylesheet" href= "/css/chat.css">
  </head>
    -vista: Vista Dinamica de Productos
    </br>
    <a href="/">volver al inicio</a>
    </br>
    <div id="lista"> productos</div>
    <button id="btn">refresh</button>
  </body>
</html>