<html>
  <head>
    <meta charset="utf-8" />
    <title>vista</title>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    -vista: home
    <h1>Inicio</h1>
    <h1>Formulario para agregar Productos</h1>
    <div id="messages"></div>

    <form action="/addForm" method="post">
      Ingrese el nombre del Producto:
      <input type="text" name="title" size="10" /><br />
      Ingrese el precio del producto:
      <input type="text" name="precio" size="10" /><br />
      Ingresa la url de la imagen
      <input type="text" name="imgUrl" size="10" /><br />
      <input type="submit" />
    </form>

    <br />
    <a href="/productos">ver pagina estatica de productos</a>
    <a href="/chat">ver chat</a>
    <a href="/envivo">envivo</a>
  </body>
</html>